.footer {
  z-index: 1;
  user-select: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  pointer-events: none;
  transition: opacity 0.5s ease;
  span {
    font-weight: 600;
    padding-inline: 0.3rem;
  }
}
.footer.hidden-footer {
  opacity: 0;
  pointer-events: none; /* Evita la interacción cuando el footer está oculto */
}
.footer-img {
  display: flex;
  justify-content: flex-start;
  margin-left: 0.5rem;
  user-select: none;
  transition: opacity 0.5s ease;

  img {
    width: 17rem;
  }
}
.footer-img.hidden-img {
  opacity: 0;
  pointer-events: none;
}

.footer-img.visible-img {
  opacity: 1;
}

.container-footer {
  padding-block: 0.5rem;
  padding-left: 1.2rem;
  font-size: 1rem;
  background-color: var(--color-secondary);
  color: var(--color-white);
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.4);
}
.container-footer-specs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}
.footer-copyright {
  gap: 0.2rem;
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  padding-block: 0.5rem;
  background-color: var(--color-secondary-darker);
  color: var(--color-white);
  span {
    font-size: 0.86rem;
  }
}
@media only screen and (max-width: 768px) {
  .footer-img {
    display: none;
  }
}
@media only screen and (max-width: 425px) {
  .footer {
    display: none;
  }
}
