:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-main: #fd5f00;
  --color-secondary: #0d1128;
  --color-secondary-darker: #090b1b;
  --color-body: #ffffff;
  --color-black: #000000;
  --color-white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
      to bottom,
      rgba(13, 17, 40, 0.5),
      rgba(13, 17, 40, 0.6)
    ),
    url("/images/Universidad.jpg") fixed no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.program-content {
  padding-top: 9rem;
}
