.radio-page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-color: var(--color-secondary-darker);
  color: var(--color-white);
  padding-block: 0.3rem;
  gap: 0.5rem;
  p {
    font-size: 1.3rem;
    font-weight: 500;
  }
  i {
    font-size: 1.6rem;
  }
}
.radio-page-background {
  /* background-color: #ffffff; */
  /* background-color: var(--color-secondary-darker); */
  background: linear-gradient(
      to bottom,
      rgba(6, 10, 29, 0.83),
      rgba(8, 11, 31, 0.83)
    ),
    url("/images/Universidad2.jpg") fixed no-repeat;
  background-size: cover;
}
.radio-page-container-1 {
  /* background-color: #ffffff; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  color: #111827;
}
.radio-page-container-2 {
  padding-inline: 5rem;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  .ArtistBio {
    width: 50%;
    padding-inline: 2rem;
    /* background-color: red; */
  }
}
.container-main-img {
  display: flex;
  align-items: center;
  padding-right: 0.3rem;
}
.main-img {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 7rem;
  height: auto;
  transition: transform 0.3s ease;
}
.main-img:hover {
  transform: translateY(-5px);
}

@media only screen and (max-width: 2000px) {
  .radio-page-container-2 {
    /* padding-inline: 5rem; */
    .ArtistBio {
      width: 34%;
      /* background-color: red; */
      /* background-color: red; */
    }
  }
}
@media only screen and (max-width: 1889px) {
  .radio-page-container-2 {
    /* padding-inline: 5rem; */
    .ArtistBio {
      width: 36%;
      /* background-color: red; */
      /* background-color: red; */
    }
  }
}
@media only screen and (max-width: 1440px) {
  .radio-page-container-2 {
    /* padding-inline: 5rem; */
    .ArtistBio {
      width: 50%;
      /* background-color: red; */
    }
  }
}
@media only screen and (max-width: 1024px) {
  .radio-page-container-2 {
    /* padding-inline: 5rem; */
    .ArtistBio {
      width: 50%;
      /* background-color: red; */
    }
  }
}
@media only screen and (max-width: 768px) {
  .radio-page-container-2 {
    padding-inline: 0rem;
    .ArtistBio {
      width: 50%;
      /* background-color: red; */
    }
  }
}
