.slider-cards-title {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-block: 0.5rem;
  gap: 0.5rem;
  width: 100%;
  background-color: var(--color-secondary-darker);
  color: var(--color-white);
  p {
    font-size: 1.3rem;
    font-weight: 500;
  }
  i {
    font-size: 1.6rem;
  }
}

.slider-cards {
  /* background-color: #080e18; */
  background-color: var(--color-secondary-darker);
  padding-inline: 1.58rem;
  padding-bottom: 1.58rem;
  padding-top: 1.2rem;
  /* border-top: 2px solid var(--color-white); */
  /* border-bottom: 2px solid var(--color-white); */
  display: flex;
  align-items: center;
  gap: 0.8rem;
  /* box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.6); */
}
.slider-prev-button {
  border-radius: 50%;
  border: none;
  color: var(--color-white);
  background: transparent;
  padding: 0.2rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.slider-prev-button:hover {
  color: #8393af;
}
.slider-next-button {
  border-radius: 50%;
  border: none;
  color: var(--color-white);
  background: transparent;
  padding: 0.2rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.slider-next-button:hover {
  color: #8393af;
}
.slider-carousel {
  display: flex;
  align-content: center;
  gap: 1rem;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.slider-carousel::-webkit-scrollbar {
  display: none;
}
.show-card {
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.6);
  background-color: #1d2139;
  /* border: 1px solid rgba(187, 216, 240, 0.3); */
  border: none;
  color: #9ca3af;
  color: #bbcbe6;
  border-radius: 1rem;
}
.card-image {
  img {
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.6);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 14rem;
    height: auto;
  }
}
.card-content {
  padding: 0.5rem;

  .slider-button-1 {
    cursor: pointer;
    margin-block: 0.6rem;
    padding: 0.3rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #1c64f2;
    font-weight: 600;
    color: var(--color-white);
    transition: 200ms;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.6);
  }
  .slider-button-1:hover {
    background-color: #1247b1;
  }
  .slider-button-2 {
    font-size: 1.2rem;
    padding: 0.3rem;
    border: none;
    cursor: pointer;
    background: transparent;
    color: var(--color-white);
    border-radius: 50%;
    transition: 100ms;
  }
  .slider-button-2:hover {
    color: #73a2ff;
  }
  .slider-buttons {
    padding-top: 0.1rem;
    display: flex;
    text-align: center;
    gap: 4.8rem;
  }
}
.card-title {
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  color: var(--color-white);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.card-episode-content {
  font-size: 0.87rem;
  p {
    font-weight: 500;
  }
}
.card-category-content {
  display: flex;
  align-items: flex-end;
  font-size: 0.87rem;
  gap: 0.4rem;
  p {
    font-weight: 500;
  }
}
